.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.text {
    min-width: 110px;
    font-size: 1.6rem;
    padding: 8px 16px;
    font-weight: 600;
    line-height: 22px;
    margin-right: 16px;
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
    border: 1px solid rgba(22, 24, 35, 0.12);
    color: var(--text-color);
    background: rgba(255, 255, 255, 1);

    &:hover {
        background-color: var(--hover-color);
    }
    &.rounded {
        min-width: 110px;
        font-size: 1.6rem;
        padding: 0 16px;
        font-weight: 600;
        line-height: 22px;
        height: 36px;
        margin-right: 16px;
        border-radius: 96px;
        user-select: none;
        cursor: pointer;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
        color: var(--text-color);
        background: rgba(255, 255, 255, 1);

        &:hover {
            border-color: rgba(22, 24, 35, 0.2);
            background-color: rgba(255, 255, 255, 1);
        }
    }
}

.outLine {
    min-width: 110px;
    font-size: 1.6rem;
    padding: 0 16px;
    font-weight: 600;
    line-height: 22px;
    height: 36px;
    border-radius: 2px;
    margin-right: 16px;
    user-select: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }

    &.rounded {
        min-width: 110px;
        font-size: 1.6rem;
        padding: 0 16px;
        font-weight: 600;
        line-height: 22px;
        height: 36px;
        border-radius: 92px;
        margin-right: 16px;
        user-select: none;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);

        &:hover {
            background-color: rgba(254, 44, 85, 0.06);
        }
    }
}

.primary {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-right: 16px;
    padding: 8px;
    min-width: 100px;
    user-select: none;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: rgba(255, 255, 255, 1);
    background-color: var(--primary-color);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }

    &.rounded {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        margin-right: 16px;
        padding: 8px;
        min-width: 100px;
        user-select: none;
        cursor: pointer;
        border-radius: 92px;
        border: none;
        color: rgba(255, 255, 255, 1);
        background-color: var(--primary-color);

        &:hover {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
        }
    }
}
