.list-items{
    width: 227px;
    
}
.menu-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 8px;

    .menu-item{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        border-radius: 0;
        margin: 0;

        &:hover{
            background-color: var(--hover-color);
        }
    }
}
.separate{
    border-top: 1px solid rgba(22, 24, 25, 0.12);
}